/*https://code.makery.ch/pt/library/javafx-tutorial/part4//*/
/*https://www.vojtechruzicka.com/javafx-css/*/

.background {
    -fx-background-color: #1d1d1d;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: Georgia;
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.erro {
    -fx-font-size: 10pt;
    -fx-font-family: Georgia;
    -fx-text-fill: red;
    -fx-opacity: 0.6;
    -fx-fill: red;
}

.label:focused .text{
    -fx-text-fill: green;
}

.button {
    -fx-background-color: #1d1d1d;
    -fx-background-radius: 0;
    -fx-border-color: white;
    -fx-border-width: 1 1 1 1;
    -fx-font-family: Georgia;
}
.button .text{
    -fx-fill: white;
    -fx-font-family: Georgia;
}

.button:hover {
    -fx-background-color: #1d1d1d;
    -fx-background-radius: 0;
    -fx-border-color: #02ff35;
    -fx-border-width: 1 1 1 1;
}

.button:hover .text{
    -fx-fill: #02ff35;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35px;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:selected .table-row-cell:filled:focused:selected .label:selected {
    -fx-background-color: transparent;
    -fx-text-fill: #02ff35;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d, 20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d, 50%);
}

.gradient {
    -fx-background-color: linear-gradient(to top, #1d1d1d, derive(#1d1d1d, 40%));
}

.text-field {
    -fx-background-color: derive(#1d1d1d, 60%);
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-font-family: Georgia;
    -fx-font-size: 12;
}

.text-field:focused {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.text-area {
    -fx-font-family: Inconsolata;
    -fx-prompt-text-fill: #02ff35;
    -fx-text-fill: #02ff35;
    -fx-font-size: 13;
}

.text-area:hover {
    -fx-background-radius: 0;
    -fx-border-color: #02ff35;
    -fx-border-width: 1 1 1 1;
}